<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.ckjl.mapper.CkCkjlMapper">
    
    <resultMap type="CkCkjl" id="CkCkjlResult">
        <result property="CKXH"    column="CKXH"    />
        <result property="CKDH"    column="CKDH"    />
        <result property="QTXX"    column="QTXX"    />
        <result property="CKRQ"    column="CKRQ"    />
        <result property="RKGL"    column="RKGL"    />
        <result property="KDZL"    column="KDZL"    />
    </resultMap>

    <resultMap type="CkCkjlByGroup" id="CkCkjlByGroupResult">
        <result property="CKXH"    column="CKXH"    />
        <result property="CKDH"    column="CKDH"    />
        <result property="QTXX"    column="QTXX"    />
        <result property="CKRQ"    column="CKRQ"    />
        <result property="RKGL"    column="RKGL"    />
        <result property="KDZL"    column="KDZL"    />
    </resultMap>

    <sql id="selectCkCkjlVo">
        select CKXH, CKDH, QTXX, CKRQ, RKGL, KDZL from ck_ckjl
    </sql>

    <select id="selectCkCkjlList" parameterType="CkCkjl" resultMap="CkCkjlResult">
        <include refid="selectCkCkjlVo"/>
        <where>  
            <if test="CKXH != null "> and CKXH = #{CKXH}</if>
            <if test="CKDH != null  and CKDH != ''"> and CKDH = #{CKDH}</if>
            <if test="QTXX != null  and QTXX != ''"> and QTXX = #{QTXX}</if>
            <if test="KDZL != null  and KDZL != ''"> and KDZL = #{KDZL}</if>
            <if test="RKGL != null "> and RKGL = #{RKGL}</if>
            <if test="BEGINCKRQ != null  and BEGINCKRQ != ''"> and CKRQ &gt; #{BEGINCKRQ}</if>
            <if test="ENDCKRQ != null  and ENDCKRQ != ''"> and CKRQ &lt; #{ENDCKRQ}</if>
        </where>
    </select>

    <select id="selectCkCkjlListBykddh" parameterType="CkCkjl" resultMap="CkCkjlResult">
        <include refid="selectCkCkjlVo"/>
        <where>
            <if test="CKXH != null "> and CKXH = #{CKXH}</if>
            <if test="CKDH != null  and CKDH != ''"> and CKDH like "%"#{CKDH}</if>
            <if test="QTXX != null  and QTXX != ''"> and QTXX = #{QTXX}</if>
            <if test="KDZL != null  and KDZL != ''"> and KDZL = #{KDZL}</if>
            <if test="RKGL != null "> and RKGL = #{RKGL}</if>
            <if test="BEGINCKRQ != null  and BEGINCKRQ != ''"> and CKRQ &gt; #{BEGINCKRQ}</if>
            <if test="ENDCKRQ != null  and ENDCKRQ != ''"> and CKRQ &lt; #{ENDCKRQ}</if>
        </where>
    </select>

    <select id="selectCkCkjlListByGroup" parameterType="CkCkjl" resultMap="CkCkjlByGroupResult">
        <include refid="selectCkCkjlVo"/>
        <where>
            <if test="CKXH != null "> and CKXH = #{CKXH}</if>
            <if test="CKDH != null  and CKDH != ''"> and CKDH like "%"#{CKDH}</if>
            <if test="QTXX != null  and QTXX != ''"> and QTXX = #{QTXX}</if>
            <if test="KDZL != null  and KDZL != ''"> and KDZL = #{KDZL}</if>
            <if test="CKRQ != null "> and CKRQ &gt;= #{CKRQ}</if>
            <if test="RKGL != null "> and RKGL = #{RKGL}</if>
        </where>
    </select>



    
    <select id="selectCkCkjlById" parameterType="Long" resultMap="CkCkjlResult">
        <include refid="selectCkCkjlVo"/>
        where CKXH = #{CKXH}
    </select>
        
    <insert id="insertCkCkjl" parameterType="CkCkjl" keyProperty="CKXH" useGeneratedKeys="true" >
        insert into ck_ckjl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="CKDH != null and CKDH != ''">CKDH,</if>
            <if test="QTXX != null">QTXX,</if>
            <if test="KDZL != null">KDZL,</if>
            <if test="CKRQ != null">CKRQ,</if>
            <if test="RKGL != null">RKGL,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="CKDH != null and CKDH != ''">#{CKDH},</if>
            <if test="QTXX != null">#{QTXX},</if>
            <if test="KDZL != null">#{KDZL},</if>
            <if test="CKRQ != null">#{CKRQ},</if>
            <if test="RKGL != null">#{RKGL},</if>
         </trim>
    </insert>

    <update id="updateCkCkjl" parameterType="CkCkjl">
        update ck_ckjl
        <trim prefix="SET" suffixOverrides=",">
            <if test="CKDH != null and CKDH != ''">CKDH = #{CKDH},</if>
            <if test="QTXX != null">QTXX = #{QTXX},</if>
            <if test="CKRQ != null">CKRQ = #{CKRQ},</if>
            <if test="RKGL != null">RKGL = #{RKGL},</if>
        </trim>
        where CKXH = #{CKXH}
    </update>

    <delete id="deleteCkCkjlById" parameterType="Long">
        delete from ck_ckjl where CKXH = #{CKXH}
    </delete>

    <delete id="deleteCkCkjlByIds" parameterType="String">
        delete from ck_ckjl where CKXH in 
        <foreach item="CKXH" collection="array" open="(" separator="," close=")">
            #{CKXH}
        </foreach>
    </delete>

</mapper>