<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改入库')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rkjl-edit" th:object="${rkRkjl}">
            <input name="RKXH" th:field="*{RKXH}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">快递单号：</label>
                <div class="col-sm-8">
                    <input name="KDDH" th:field="*{KDDH}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其他信息：</label>
                <div class="col-sm-8">
                    <input name="QTXX" th:field="*{QTXX}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">入库日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="RKRQ" th:value="${#dates.format(rkRkjl.RKRQ, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/rkjl";
        $("#form-rkjl-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-rkjl-edit').serialize());
            }
        }

        $("input[name='RKRQ']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>